@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
}

.panel_heading {
  @apply text-lg font-semibold text-blue-800 py-3 text-center mx-auto;
}

.drag-bar {
  flex-shrink: 0;
  width: 2px;
  background-color: #0b111b;
  cursor: col-resize;
  transition: background-color 0.15s 0.15s ease-in-out;
}

.drag-bar.drag-bar--dragging,
.drag-bar:hover {
  background-color: #63b3ed;
}

.drag-bar.drag-bar--horizontal {
  height: 2px;
  width: 100%;
  cursor: row-resize;
}

.transitionBlur {
  transition: filter 0.2s ease-out, background-color 0.2s ease-out;
}

.dragging {
  filter: blur(1px);
  background-color: #c2bfbf;
}
